:root {
  --border-btn: #ff6c00;
  --primary-text-color: #ffff;
  --text-color: #9da4bd;
  --section-color: #303030;
  --subtitle-color: #555555;
  --line-height: 1.36;
  --gra: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--line-height);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--border-btn);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms linear, color 250ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--border-btn);
  color: var(--primary-text-color);
}

/*--------Header--------*/

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header-logo-svg{
  fill: var(--primary-text-color);
}

.header-list{
  display: none;
}

   .header-tel {
  display: none;
}
.header-btn {
  display: none;
}

.header-contacts {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.menu-container{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 1000;
  background-color: var(--color-button);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-container.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.mobile-menu-close{
    position: absolute;
    border: none;
    position: absolute;
    right: 21px;
    background-color: transparent;
    top: 58px;
}

.mobile-container{
    padding-top: 139px;
    padding-left: 40px;
    position: relative;
    background-color: var(--primary-text-color);
    height: 100%;
}

.menu-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: var(--section-color);
    transition: color 250ms linear;
}

.menu-navigation .menu-navigation-item + .menu-navigation-item{
  margin-top: 24px;
}

.header-contacts-mobile {
    margin-top: 64px;
}

.menu-link:is(:hover,:focus){
  color: var(--border-btn);
}

.header-tel-mobile {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--section-color);
    margin-bottom: 25px;
    display: block;
}

.hero-list{
  margin-top: 64px;
}

.hero-link-mobile {
    font-weight: 600;
    font-size: 14px;
    margin-left: 37px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: var(--section-color);
}

.hero-item.suptitle {
  text-transform: capitalize;
  color: var(--section-color);
}

.hero-item:last-child {
  margin-left: 20px;
  text-align: center;
}


/*----------Hero-----------*/

.hero-container{
  max-width: 100%;
  padding: 0;
}

.hero-soc {
 display: none;
}


.hero-wrap {
  background-color: #626060;
  background-image: var(--gra), url(../images/bg-mobile-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  padding: 210px 30px;
}

.suptitle {
  color: var(--text-color);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero-description {
    color: var(--text-color);
    font-size: 13px;
    line-height: 1.92;
    letter-spacing: 0.02em;
    max-width: 320px;
}


/*--------about------*/

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}


.about-list {
 display: none;
}

.about-wrap {
  max-width: 470px;
}
.about-suptitle {
  color: var(--section-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--section-color);
  font-size: 28px;
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 40px;
}
.about-btn {
  color: var(--section-color);
}

/*---------prices----------*/

.prices {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.prices-suptitle {
  font-size: 9px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.prices-title {
  font-size: 28px;
  color: var(--primary-text-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  flex-direction: column;
    background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  margin-bottom: 44px;
}
.prices-list {
  padding-left: 16px;
  padding-right: 20px;
}

.prices-list:first-child {
  padding-top: 30px;
}

.prices-list:last-child {
  margin-top: 20px;
 padding-bottom: 30px;
}


.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-item-text {
  font-size: 11px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.prices-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: var(--primary-text-color);
  display: block;
  margin: 0 auto;
}

.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}

.benefits-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 44px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  width: 144px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 9px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--section-color);
  display: block;
  margin-bottom: 6px;
  position: relative;
}

.benefits-item > span::after {
  content: "+ ";
  position: absolute;
  top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--border-btn);
}

.benefits-item-text {
  font-weight: 600;
   font-size: 9px;
  line-height: var(--line-height);
  text-align: center;
  color: var(--section-color);
}

.benefits-suptitle {
  color: var(--section-color);
  margin-bottom: 20px;
}

.benefits-title {
  font-size: 29px;
  max-width: 430px;
  margin-bottom: 20px;
}

.benefits-subtitle {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  color: var(--subtitle-color);
  line-height: 1.66;
  letter-spacing: 0.02em;
}

/*-----barbers-----*/

.barbers {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}

.barbers-suptitle {
  font-size: 9px;
  margin-bottom: 20px;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-item {
  width: 100%;
}

.barbers-content {
  padding-top: 30px;
}

.barbers-list .barbers-item + .barbers-item{
  margin-top: 64px;
}

.barbers-item-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--section-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: var(--border-btn);
}

.barbers-list-svg {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-item-svg {
  width: 44px;
  height: 44px;
}

.barbers-svg-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: var(--primary-text-color);
}

.icon-svg {
  transition: fill 250ms linear;
}

.icon-svg:is(:hover, :focus) {
  fill: var(--border-btn);
}

/*------------Gallery----------*/

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}
.gallery-supitle {
  color: var(--section-color);
  margin-bottom: 44px;
}

.gallery-item {
  width: 100%;
}

.gallery-list {
display: flex;
flex-direction: column;
gap: 30px;
}


/*--------Contacts-bookin---------*/

.contact-wrap {
  max-width: 100%;
  margin: 0 auto;
  background-color: #191c26;
}

.online {
 padding: 84px 31px;
}


.online-title {
  color: var(--primary-text-color);
  margin-bottom: 44px;
  font-size: 29px;
  text-align: center;
}


.online-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}


.online-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  color: #f7f7f7;
  font-size: 11px;
}
.online-item:focus {
  border-color: var(--primary-text-color);
}

.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-item:focus::placeholder {
  color: var(--primary-text-color);
}

.online-input {
  width: 100%;
  height: 24px;
  margin-bottom: 44px;
  padding-bottom: 8px;
}

.online-text {
  width: 570px;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

.online-btn {
  color: var(--primary-text-color);
  margin-right: auto;
   margin-left: auto;
}


/*-------------- ONLINE----------------- */

.contacts-title {
  color: var(--primary-text-color);
  margin-bottom: 40px;
  font-size: 29px;
  text-align: center;
}

.contacts-address {
  font-style: normal;
}

.contacts {
  margin: 0 auto;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 84px 31px;
}

.contacts-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.barbers-mail{
  text-decoration: underline;
}
.contacts-link.bold {
  font-weight: 700;
}

.contacts-text {
  text-transform: uppercase;
}

.contacts-container {
    max-width: 100%;
    padding: 0;
}

.contacts-schedule {
  font-size: 14px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--text-color);
  margin-top: 21px;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--section-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--section-color);
  transition: color 250ms linear;
}

.footer-link:is(:hover, :focus) {
  color: var(--border-btn);
}
