:root {
  --border-btn: #ff6c00;
  --primary-text-color: #ffff;
  --text-color: #9da4bd;
  --section-color: #303030;
  --subtitle-color: #555555;
  --line-height: 1.36;
  --gra: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--line-height);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--border-btn);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms linear, color 250ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--border-btn);
  color: var(--primary-text-color);
}

/*--------Header--------*/

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--border-btn);
}

.header-tel {
  color: var(--primary-text-color);
  margin-right: 43px;
}
.header-btn {
  margin-right: 17px;
  color: var(--primary-text-color);
}

/*----------Hero-----------*/

.hero-container {
  display: flex;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--section-color);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--line-height);
  letter-spacing: 0.2em;
  color: var(--section-color);
  transition: color 250ms linear;
}

.hero-link:is(:hover, :focus) {
  color: var(--border-btn);
}

.hero-wrap {
  background-color: #626060;
  background-image: var(--gra), url(../images/back-img-1.jpg);
  background-size: cover;
  flex-grow: 1;
  padding: 252px 100px 208px;
}
.suptitle {
  color: var(--text-color);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.hero-description {
  color: var(--text-color);
  max-width: 360px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/*--------about------*/

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.about-wrap {
  max-width: 470px;
}
.about-suptitle {
  color: var(--section-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--section-color);
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 42px;
}
.about-btn {
  color: var(--section-color);
}

/*---------prices----------*/

.prices {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1600px;
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.prices-suptitle {
  color: var(--text-color);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--primary-text-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.prices-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: var(--primary-text-color);
  display: block;
  margin: 0 auto;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  display: flex;
  padding-left: 85px;
  gap: 130px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--section-color);
  display: block;
  margin-bottom: 6px;
  position: relative;
}

.benefits-item > span::after {
  content: "+ ";
  position: absolute;
  top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--border-btn);
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--line-height);
  text-align: center;
  color: var(--section-color);
}

.benefits-suptitle {
  color: var(--section-color);
  margin-bottom: 20px;
}

.benefits-title {
  max-width: 430px;
  margin-bottom: 20px;
}

.benefits-subtitle {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  color: var(--subtitle-color);
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.barbers {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
}

.barbers-suptitle {
  margin-bottom: 20px;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-content {
  padding-top: 30px;
}

.barbers-item-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--section-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: var(--border-btn);
}

.barbers-list-svg {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-item-svg {
  width: 44px;
  height: 44px;
}

.barbers-svg-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: var(--primary-text-color);
}

.icon-svg {
  transition: fill 250ms linear;
}

.icon-svg:is(:hover, :focus) {
  fill: var(--border-btn);
}

/*------------Gallery----------*/

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gallery-supitle {
  color: var(--section-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

/*--------Contacts-bookin---------*/

.contact-wrap {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
}

.contact-wrap > .container {
  display: flex;
}

/*-------------- ONLINE----------------- */

.online {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 120px;
}

.online-title {
  color: var(--primary-text-color);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
  width: calc(50% - 15px);
}
.contacts-title {
  color: var(--primary-text-color);
  margin-bottom: 40px;
}
.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}
.contacts-link {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-link.bold {
  font-weight: 700;
}

.contacts-text {
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.contacts-schedule {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.footer {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--text-color);
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--section-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--section-color);
  transition: color 250ms linear;
}

.footer-link:is(:hover, :focus) {
  color: var(--border-btn);
}
